body{
    margin: 0;
}
span{
    color: red;
}
header{
    margin: 0;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    text-align: center;
}
header a{
    color: #000;
    text-decoration: none;
    padding: 5px;
}

.container{
    margin: 30px 15px;
    text-align: center;
}
form div{
    margin-bottom: 10px;
}
fieldset{
    display: grid;
    grid-template-columns: 20px 1fr 20px 1fr ;
    border-radius: 5px;
    border: solid black 1px;
}

.boton{
    font-weight: bold;
    padding: 10px;
    border: 2px solid #f24535;
    border-radius: 10px;
    margin: 30px;
    color: #f24535;
    background-color: #04d9c4;
    cursor: pointer;
}
.boton:hover{
    color: #0583f2;
}

footer{
    padding: 5px;
    text-align: center;
    background-color: black;
}
footer p{
    margin: 0;
    color: white;
}

@media (min-width: 420px){

}
@media (min-width: 768px){
    .container{
        margin: 30px 25px;
    }
    fieldset{
        grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr ;
    }
}
@media (min-width: 1024px){
    
}
@media (min-width: 1440px){
    .container{
        margin: 30px auto;
        max-width: 1200px;
    }
}