body{
    margin: 0;
}
header{
    margin: 0;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    text-align: center;
}
header a{
    color: #000;
    text-decoration: none;
    padding: 5px;
}

.container{
    margin: 30px 25px;
    text-align: center;
}
form div{
    margin-bottom: 10px;
}

span{
    color: red;
}

.boton{
    font-weight: bold;
    padding: 10px;
    border: 2px solid #f24535;
    border-radius: 10px;
    margin: 30px;
    color: #f24535;
    background-color: #04d9c4;
    cursor: pointer;
}
.boton:hover{
    color: #0583f2;
}


footer{
    padding: 5px;
    text-align: center;
    background-color: black;
}
footer p{
    margin: 0;
    color: white;
}

@media (min-width: 1024px){
    .container{
        max-width: 700px;
        margin: 50px auto;
    }
    .container h2{
        margin-bottom: 50px;
    }
    .container div{
        margin: 5px auto;
        width: 400px;
        display: flex;
        flex-direction: column;
    }
    .container label{
        margin-top: 10px;
        margin-bottom: 5px;
    }
}