body{
    margin: 0;
    position: relative;
    min-height: 100vh;
}
header{
    margin: 0;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    text-align: center;
}
header a{
    color: #000;
    text-decoration: none;
    padding: 5px;
}

.container{
    text-align: center;
    margin: 50px auto;
}

.container h2{
    margin: 50px auto;
}

.container p{
    font-weight: bold;
}

.container span{
    font-weight: 400;
}

.container .comentarios{
    margin-bottom: 50px;
}

.boton{
    font-weight: bold;
    padding: 10px;
    border: 2px solid #f24535;
    border-radius: 10px;
    margin: 25px;
    text-decoration: none;
    color: #f24535;
    background-color: #04d9c4;
}
.boton:hover{
    color: #0583f2;
}



footer{
    padding: 5px;
    text-align: center;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
footer p{
    margin: 0;
    color: white;
}