<!DOCTYPE html>
<html lang="es">
<head>
    <title>Registrar Artesano</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/agregar-artesano.css}">
</head>
<body>
    <div th:replace="~{fragments/menu :: menu}"></div>
    <div class="container">
        <h2>Inscribete para vender tus artesanias</h2>
        <form id="formulario" action="/post-artesanos", method="post" enctype="multipart/form-data">
            <div class="region form">
                <label for="region">Seleccione su región de procedencia: <span id="region-span"></span></label>
                <select name="region" id="region">
                    <option value="">Elija una de las siguientes regiones</option>
                    <option th:each="region : ${regiones}" th:value="${region.getId()}" th:text="${region.getNombre()}"></option>
                </select>
            </div>
            <div class="comuna form">
                <label for="comuna">Seleccione su comuna <span id="comuna-span"></span></label>
                <select name="comuna" id="comuna" disabled="disabled">
                    <option value="">Elija su comuna</option>
                    <option th:each="comuna : ${comunas}" th:class="${comuna.getRegion()}" th:value="${comuna.getId()}" th:text="${comuna.getNombre()}"></option>
                </select>
            </div>
            <div class="artesanias form">
                <fieldset>
                    <legend>Seleccione el tipo de sus artesanias (seleccione máximo 3): <span id="artesania-span"></span></legend>
                    <div th:each="tipo : ${tipos}">
                        <input type="checkbox" name="artesania" th:id="${tipo.getNombre()}" th:value="${tipo.getId()}">
                        <label th:for="${tipo.getNombre()}" th:text="${tipo.getNombre()}"></label>
                    </div>
                </fieldset>
            </div>
            <div class="descripcion  form">
                <label for="descripcion">Describas sus artesanias <span id="desc-span"></span></label>
                <textarea name="descripcion" id="descripcion" cols="50" rows="4"></textarea>
            </div>
            <div class="fotos form">
                <label for="photo">Seleccione fotos para de sus artesanias <span id="fotos-span"></span></label>
                <input name="photo" id="photo" type="file" accept="image/png, image/jpeg">
                <div id="foto2"></div>
                <div id="foto3"></div>
            </div>
            <div class="nombre form">
                <label for="name">Ingrese su nombre: <span id="name-span"></span></label>
                <input type="text" name="name" id="name" autocomplete="name" maxlength="80">
            </div>
            <div class="email form">
                <label for="mail">Ingrese su correo electronico: <span id="mail-span"></span></label>
                <input type="email" name="mail" id="mail" autocomplete="email" maxlength="30">
            </div>
            <div class="telefono form">
                <label for="phone">Ingrese un celular de contacto <span id="phone-span"></span></label>
                <input type="tel" name="phone" id="phone" autocomplete="mobile" maxlength="15">
            </div>
            <button class="boton form" id="Registrar-Artesano">Registrarse</button>
            <span id="msg"></span>
        </form>
    </div>
    <script th:src="@{/js/agregar-artesano.js}"></script>
</body>
</html>