<!DOCTYPE html>
<html>
<head>
    <title>Panamericanos Santiago</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body>
    <div th:replace="~{fragments/menu :: menu}"></div>
    <div class="hero">
        <img th:src="@{/img/portada.png}" alt="portada de los juegos panamericanos">
    </div>
    <div class="secciones">
        <div class="sec1">
            <a href="./agregar-hincha">Registrar Hincha</a>
        </div>
        <div class="sec2">
            <a href="./agregar-artesano">Registrar Artesano</a>
        </div>
        <div class="sec3">
            <a href="./ver-hinchas">Ver Hinchas</a>
        </div>
        <div class="sec4">
            <a href="./ver-artesanos">Ver Artesanos</a>
        </div>
    </div>
</body>
</html>
