<!DOCTYPE html>
<html lang="es">
<head>
    <title>Informacion Artesano</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/informacion-artesano.css}">
</head>
<body>
    <div th:replace="~{fragments/menu :: menu}"></div>
    <div class="container">
        <h2>Artesano:</h2>
        <p>Nombre: <span th:text="${artesano.getNombre()}"></span></p>
        <p>Región: <span th:text="${region.getNombre()}"></span></p>
        <p>Comuna: <span th:text="${comuna.getNombre()}"></span></p>
        <p>Email de contacto: <span th:text="${artesano.getEmail()}"></span></p>
        <p>Telefono de contacto: <span th:text="${artesano.getCelular()}"></span></p>
        <p>Tipo de artesanías: <span th:each="tipo: ${tipos}" id="tipo" th:text="${tipo.getNombre() }"> </span> </p>
        <p>Descripción: <span th:text="${artesano.getDescripcionArtesania()}"></span></p>
        <div id="fotos">
            <img th:each="foto: ${fotos}" class="fotos" th:src="@{/uploads/{name}(name=${foto.getNombreArchivo()})}" alt="">
        </div>
        <a class="boton" href="./ver-artesanos">Volver a ver Artesanos</a>
    </div>
    <script th:src="@{/js/informacion-artesano.js}"></script>
</body>
</html>