<!DOCTYPE html>
<html>
<head>
    <title>Informacion Artesano</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/informacion-hincha.css}">
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
    <div class="container">
        <h2>Hincha:</h2>
        <p>Nombre: <span id="nombre" th:text="${hincha.getNombre()}"></span></p>
        <p>Región: <span id="region" th:text="${hincha.getComuna().getNombre()}"></span></p>
        <p>Comuna: <span id="comuna" th:text="${hincha.getComuna().getRegion()}"></span></p>
        <p>Metodo de transporte: <span id="transporte" th:text="${hincha.getModoTransporte()}"></span></p>
        <p>Deportes de interes: <span th:each="deporte: ${deportes}" id="deportes" th:text="${deporte.getNombre()}"> </span></p>
        <p>Correo de contacto: <span id="mail" th:text="${hincha.getNombre()}"></span></p>
        <p>Telefono de contacto: <span id="phone" th:text="${hincha.getCelular()}"></span></p>
        <p class="comentarios">Comentarios adicionales: <span id="comentarios" th:text="${hincha.getNombre()}"></span></p>
        <a class="boton" href="./ver-hinchas">Volver a ver Hinchas</a>
    </div>
<script th:src="@{/js/informacion-hincha.js}"></script>
</body>
</html>
