<!DOCTYPE html>
<html lang="es">
<head>
    <title>Informacion Artesanos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ver-artesanos.css}">
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
    <div class="container">
        <p>Presione sobre el Artesano para obtener mas Informacion de este</p>
        <div class="tabla" id="tabla">
            <div class="fila">
                <p>Nombre</p>
                <p>Teléfono</p>
                <p>Comuna</p>
                <p>Tipo Artesanías</p>
                <p>Foto</p>
            </div>
            <div th:each="artesano: ${artesanos}" class="artesano fila" th:id="${artesano.key.getId()}">
                <p th:text="${artesano.key.getNombre()}"></p>
                <p th:text="${artesano.key.getCelular()}"></p>
                <p th:text="${artesano.key.getComuna().getNombre()}"></p>
                <div>
                    <p th:each="artesania :${artesano.value.b}" th:text="${artesania.getNombre()}"></p>
                </div>
                <div>
                    <img th:each="foto :${artesano.value.a}" th:src="@{/uploads/{name}(name=${foto.getNombreArchivo()})}" alt="">
                </div>
            </div>
        </div>
        <a th:if="${page > 0}"  class="boton" th:href="@{/ver-artesanos{id}(id=${page+-1})}">Pagina anterior</a>
        <a class="boton" href=".">Volver a Inicios</a>
        <a th:if="${next}" class="boton" th:href="@{/ver-artesanos{id}(id=${page+1})}">Pagina siguiente</a>
    </div>
    <script th:src="@{/js/ver-artesano.js}"></script>
</body>
</html>
