<!DOCTYPE html>
<html>
<head>
    <title>Informacion Hinchas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ver-hincha.css}">
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
    <div class="container">
        <p>Presione el nombre del Hincha para obtener mas Informacion de este</p>
        <table id="tabla">
            <tr>
                <td>Nombre</td>
                <td>Comuna</td>
                <td>Deportes</td>
                <td>Modo Transporte</td>
                <td>Numero celular</td>
            </tr>
            {% for hincha in hinchas %}
            <tr class="hincha" id="{{hincha[0]}}">
                <td>{{hincha[2]}}</td>
                <td>{{hincha[1]}}</td>
                <td>
                    {% for deporte in deportes %}
                    {% if deporte[1] == hincha[0] %}
                    <p>{{deporte[0]}}</p>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>{{hincha[4]}}</td>
                <td>{{hincha[3]}}</td>
            </tr>
            {% endfor %}
        </table>
        {% if n > 0%}
        <a class="boton" href="/ver-hinchas{{ant}}">Pagina anterior</a>
        {% endif %}
        <a class="boton" href=".">Volver a Inicios</a>
        {% if mostrar%}
        <a class="boton" href="/ver-hinchas{{sig}}">Pagina siguiente</a>
        {% endif %}
    </div>
    <script th:src="@{/js/ver-hincha.js}"></script>
</body>
</html>