<!DOCTYPE html>
<html lang="es">
<head>
    <title>Informacion Hinchas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ver-hincha.css}">
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
    <div class="container">
        <p>Presione el nombre del Hincha para obtener mas Informacion de este</p>
        <div id="tabla" class="tabla">
            <div class="fila">
                <p>Nombre</p>
                <p>Comuna</p>
                <p>Deportes</p>
                <p>Modo Transporte</p>
                <p>Numero celular</p>
            </div>
            <div th:each="hincha: ${hinchas}" class="hincha fila" th:id="${hincha.key.getId()}">
                <p th:text="${hincha.key.getNombre()}"></p>
                <p th:text="${hincha.key.getComuna().getNombre()}"></p>
                <div>
                    <p th:each="deporte: ${hincha.value}" th:text="${deporte.getNombre()}"></p>
                </div>
                <p th:text="${hincha.key.getModoTransporte()}"></p>
                <p th:text="${hincha.key.getCelular()}"></p>
            </div>
        </div>
        <a th:if="${page > 0}" class="boton" th:href="@{/ver-hinchas{id}(id=${page+-1})}">Pagina anterior</a>
        <a class="boton" href=".">Volver a Inicios</a>
        <a th:if="${next}" class="boton" th:href="@{/ver-hinchas{id}(id=${page+1})}">Pagina siguiente</a>
    </div>
    <script th:src="@{/js/ver-hincha.js}"></script>
</body>
</html>