<!DOCTYPE html>
<html>
<head>
    <title>Informacion Hinchas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ver-hincha.css}">
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
    <div class="container">
        <p>Presione el nombre del Hincha para obtener mas Informacion de este</p>
        <table id="tabla">
            <tr>
                <td>Nombre</td>
                <td>Comuna</td>
                <td>Deportes</td>
                <td>Modo Transporte</td>
                <td>Numero celular</td>
            </tr>
            <tr th:each="hincha: ${hinchas}" class="hincha" th:id="${hincha.key.getId()}">
                <td th:text="${hincha.key.getNombre()}"></td>
                <td th:text="${hincha.key.getComuna().getNombre()}"></td>
                <td>
                    <p th:each="deporte: ${hincha.value}" th:text="${deporte.getNombre()}"></p>
                </td>
                <td th:text="${hincha.key.getModoTransporte()}"></td>
                <td th:text="${hincha.key.getCelular()}"></td>
            </tr>
        </table>
        <a th:if="${page > 0}" class="boton" th:href="@{/ver-hinchas{id}(id=${page+-1})}">Pagina anterior</a>
        <a class="boton" href=".">Volver a Inicios</a>
        <a th:if="${next}" class="boton" th:href="@{/ver-hinchas{id}(id=${page+1})}">Pagina siguiente</a>
    </div>
    <script th:src="@{/js/ver-hincha.js}"></script>
</body>
</html>